html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navigation */
.nav-button > li > a {
  display: flex;
  align-items: center;
  z-index: 5;
}
.nav-button > li > a:hover .nav-delete-btn {
  opacity: 0.2;
}
.nav-item-img {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.nav-delete-btn {
  position: absolute;
  top: 39%;
  right: 20px;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.nav-delete-btn:hover {
  opacity: 0.8 !important;
}

.form-inline {
  width: 100%;
}

/* Find block */
.find-results-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find-results-block img {
  margin: 20px;
  border-radius: 5px;
}

.find-btn-wrapper{
  width: 80%;
}

.find-results-btn {
  width: 48%;
  margin: 0 1%;
}


.find-input {
  width: 70% !important;
}
.find-btn {
  width: 30% !important;
}

/* Spinner */
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 50%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in ease 1s;
}

.w100 {
  width: 100% !important;
}

.to-top {
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.to-top:hover {
  opacity: 1;
}

.border-radius {
  border-radius: 5px;
}
